# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore any large data files
data/*.csv
